<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCahhfMLcyrPJmi8e_xSql3RmEB4DR8rxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>255258755366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furnitureApp</string>
	<key>PROJECT_ID</key>
	<string>ktea-6274c</string>
	<key>STORAGE_BUCKET</key>
	<string>ktea-6274c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255258755366:ios:8222b9522fae554c71c1e7</string>
</dict>
</plist>